.container-fluid {
  padding: 2em !important;
  padding-right: 2rem !important;
}

.schedule-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 0rem;
  padding-top: 0rem;
}

.schedule-title-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  border-top: 6px solid black;
  border-right: 6px solid black;
  border-top-right-radius: 15px;
  width: 100%;
}

.schedule-title {
  font-size: 3rem;
  font-family: "F1 Bold";
  font-weight: bold;
  padding: 1rem;
}

.schedule-subtitle {
  padding-inline: 1rem;
  margin-top: -2rem;
}

.schedule-list-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
  justify-content: center;
  padding-inline: 3rem;
}

.schedule-list {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 23rem;
  height: 100%;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.schedule-list:hover {
  cursor: default;
  border-color: red;
  transform: scale(1.1);
}

.schedule-list-title {
  position: absolute;
  top: -12px;
  width: 7rem;
  background-color: white;
  text-transform: uppercase;
}

.schedule-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-inline: 1.5rem;
}

.month-days-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  padding-left: 10px;
}

.month-schedule {
  font-weight: bold;
  color: white;
  background-color: black;
  padding-inline: 3px;
  padding-block: 1px;
  letter-spacing: 2px;
  border-radius: 8px;
  text-transform: uppercase;
  margin-top: -17px;
}

.flag-img {
  margin-top: -1rem;
  margin-right: 10px;
  width: 45px;
  height: 28px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.section-divider {
  width: 100%;
  background-color: rgb(178, 178, 178);
  height: 4px;
  place-self: center;
}

.circuit-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  row-gap: 6px;
  padding-inline: 2rem;
  margin-top: -1rem;
}

.circuit-name-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-inline: 10px;
}

.circuit-name {
  font-size: 18px;
  font-family: "F1 Bold";
  font-weight: bolder;
  letter-spacing: 0.2px;
}

.circuit-full-name {
  font-size: 14px;
  text-transform: uppercase;
}

.circuit-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  place-self: center;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.schedule-circuit-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0px;
}

@media (max-width: 900px) {
  .schedule-list-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-left: 5rem !important;
  }
}

@media (min-width: 901px) {
  .schedule-list-layout {
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
  }
}

@media (min-width: 1298px) {
  .schedule-list-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1710px) {
  .schedule-list-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 430px) and (max-width: 549px) {
  .schedule-title-container {
    border: none;
  }

  .schedule-title {
    font-size: 43.5px;
  }

  .schedule-subtitle {
    padding-inline: 1rem;
    margin-top: -24px;
  }
}

@media (min-width: 360px) and (max-width: 429px) {
  .schedule-list-layout {
    padding-left: 2rem !important;
    padding-right: 2px !important;
  }

  .schedule-title-container {
    border: none;
  }

  .schedule-title {
    font-size: 30px;
  }

  .schedule-subtitle {
    padding-inline: 1rem;
    margin-top: -24px;
    font-size: 16px;
  }

  .schedule-list:hover {
    transform: none !important;
  }
}
