@import url("https://fonts.googleapis.com/css2?family=Titillium+Web");
body {
  font-family: "Titillium Web" !important;
}

.dropdown-menu {
  display: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}

.nav-link {
  color: white !important;
}
.nav-link:hover {
  background-color: black;
}

.btn {
  text-transform: uppercase;
}

.read-more {
  position: absolute;
  bottom: 0.9rem;
}

.btn-login-subscribe:hover {
  background-color: rgba(31, 41, 55, 1) !important;
  border-color: rgba(31, 41, 55, 1) !important;
}

.row {
  margin-top: 0.625rem;
  margin-bottom: 2rem;
}

h5 {
  font-weight: 900 !important;
}

.card-img-top {
  height: 17rem !important;
  width: 19.5rem !important;
  align-self: center;
  object-fit: cover;
}

.card-body {
  height: 20rem;
}

footer {
  background-color: #2a2929;
  color: white;
}

.srl {
  padding-top: 0.7rem;
  margin-left: 0.5rem;
}

.copy {
  text-align: right;
  margin-right: 0.8rem;
  padding-bottom: 0.4rem;
}


