body {
  background-color: #f6f4f0 !important;
  padding-bottom: 4rem !important;
}

.container-fluid {
  padding-inline: 3rem !important;
}

.team-table-drivers-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 4rem;
  background-color: white;
  padding-left: 2rem;
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-items: start;
  padding-bottom: 2rem;
}

.team-img-container {
  max-width: 30rem;
  overflow: hidden;
  padding-top: 1rem;
}

.team-img {
  width: 100%;
  height: auto;
}

.team-title-text {
  font-size: 40px;
}

.team-stats {
  margin-left: 2rem;
}

table {
  border-collapse: collapse;
}

th {
  font-family: "F1 Bold";
}

td {
  padding: 4px 0 4px 4rem !important;
}

td p,
th p {
  width: max-content !important;
}

.driver-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  border: none;
  background-color: transparent;
  padding: 0% !important;
  margin: 0% !important;
  border-left: 4px solid #f6f4f0;
}

.driver-button:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  border: none;
}

.driver-img-container {
  width: 100%;
  height: 30rem;
  overflow: hidden;
}

.driver-img {
  width: 100%;
  height: 100%;
  padding: 0rem !important;
  object-fit: cover;
}

.driver-number {
  font-family: "F1 Bold";
  font-size: 2rem;
}

.driver-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding-left: 2rem;
}

.button-group {
  display: flex;
  align-items: start;
  gap: 4px;
  height: 100%;
  border-bottom: 4px solid #f6f4f0;
}

#responsive * {
  display: none !important;
}

@media (max-width: 1200px) {
  .team-title-text {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .team-table-drivers-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    width: 100% !important;
    gap: 5px !important;
  }

  .team-img-container {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #default * {
    display: none !important;
  }

  #responsive * {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .column-title {
    font-family: "F1 Bold";
  }

  .button-group {
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: none !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .driver-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 !important;
    margin: 0 !important;
    border-left: none !important;
    transform: none !important;
    color: black !important;
  }

  .driver-info {
    align-items: center;
    padding-left: 0 !important;
    gap: 0 !important;
  }

  .title-header {
    font-family: "F1 Bold";
  }

  .team-stats {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-inline: 2rem;
  }
}

@media (max-width: 429px) {
  .team-img-container {
    width: 14rem;
  }
}
